@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;